/* common shared style */
 body {
    font family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #fb6c06;
}

.btn-primary{
    border-radius: 5px;
    background: #ff6c03;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* nav related styles */
nav  {
    display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 200px;
}

   .nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
   }

    nav > ul{
        display: flex;
    }
    nav li{
        list-style: none;
        margin-right: 50px;
    }
    nav a{
       text-decoration: none;
       color: #474747;
    }

    /* header related styles */
    .header{   
        background-color: #f4f0ee;
    }

    .banner{
            width: 100%;
            display: flex;
            justify-content: end;
            padding: 20px 20px 20px 100px;  
            aligh-items: center;
    
    }
    .banner .profile-pic{
        width: 500px;
    }